.flex-all-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.de{
    padding:5px 7px;
    color:white;
    background-color:rgb(88, 88, 238);
    border:2px solid whitesmoke;
    border-radius: 7px;
    cursor:pointer;
}
.my-2{
    margin:26px 0;
}

.text-center{
    text-align:center;
}

hr{
    margin: 2px 5px;
}